html, 
body {
   margin: 0;
   padding: 0;
   width: 100%;
}
body {
   box-sizing: border-box; 
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: 147px;
}
.page-header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 147px;
   background-color: rgba(222, 222, 222, 0.98);
   z-index: 100;
}
@supports(backdrop-filter: blur(20 px)){
   .page-header{
      background-color:  rgba(222, 222, 222, 0.5);
      backdrop-filter: blur(20 px);
   }
}
.page-header__container{
   box-sizing: border-box;
   display: flex;
   align-items: center;
   width: 100%;
   align-items: center;
   max-width: 1414px;
   margin: 0 auto;
   padding-left: 40px;
   padding-right: 40px;
}
.page-header__logo {
   flex-shrink: 0;
   width: 202px;
   height: 147px;
   font-size: 0;
   text-decoration: none;
 }
 .page-header__logo-icon {
   width: 100%;
   height: 100%;
 }
 .page-header__nav {
   display: flex;
   align-items: baseline;
   margin: 0 auto;
 }
 .page-header__nav-link {
   margin: 0 25px; 
   color: #1f1e1e;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-decoration: none;
   transition: color 0,2s;
 }
 .page-header__nav-link:hover {
   color: #bc3324;
 }
 body {
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.375;
 }
 .btn {
   display: inline-block;
   box-sizing: border-box;
   padding: 15px 40px;
   border: 1px solid #1F1E1E;
   background-color: transparent;
   outline: none;
   color: #1F1E1E;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   text-decoration: none;
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   overflow: hidden;
   cursor: pointer;
 }
 .btn:hover {
   background-color: #1F1E1E;
   color: #ffffff;
 }
 .page-header__right-block {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 202px;
 }
.main {
   flex: 1 0 auto;
   color: #1F1E1E;
}
.center_block__logo{
   position:absolute;
   top: 228px;
   width: 1920px;
   z-index:10;
}
.quote {
   color: #1F1E1E;
   height: 639px;
   padding-top: 100px;
   align-self: center;
   font-family: "Lora", sans-serif;
   font-weight: 400;
   align-items: center;
   box-sizing: content-box;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;

}
.center_block_element-1, 
.center_block_element-2{
   font-size: 45px;
   line-height: 57.6px;
   font-style: normal;
   font-weight: 400;
}
.section{
   box-sizing:content-box;
   flex-direction:column;
   display: flex;
   align-items: center;
   width: 624px;
   height: 128px;
   padding-left: 648px;
   padding-right: 648px;
}
.section_center{
   font-size: 22px;   
   color: #1F1E1E;
   font-family: "Lora", serif;
}
.section_bottom{
   box-sizing:content-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 624px;
}
.section_value-1{
   box-sizing: border-box;
   justify-content: center;
   min-width: 272px;
   height: 52px;
   color: #ffffff;
   font-family: "Lora", serif;
   font-size: 16px;
   background-color: #bc3324;
   padding: 15px 40px;
}
.section_value-2{
   box-sizing: border-box;
   justify-content: center;

   min-width: 245.88px;
   min-height: 52px;
   color: #1F1E1E;
   font-family: "Lora", serif;
   font-size: 16px;
   background-color: #ffffff;
   border: 1px solid #1F1E1E;
   padding: 15px 40px;
}
.section-title {
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;  
   width: 100%;
   max-width: 624px;
   min-height: 62px;
   margin: 0 auto 150px;
   padding: 8px 45px;
   background-color: #1F1E1E;
   color: #ffffff;
   font-family: "Lora", serif;
   font-weight: 500;
   font-size: 36px;
   line-height: 1.277;
   text-align: center;
   text-transform: uppercase;
 }
.listing__events-list{
   box-sizing: border-box;
   display: flex;
   width: 100%;
   align-items: center;
   max-width: 1414px;
   margin: 0 auto;
   padding-left: 40px;
   padding-right: 40px;
   flex-wrap: wrap;
   gap: 59px;
}
.event-card__link {
   display: flex;
   flex-direction: column;
   text-decoration: none;
   width: 100%;
   color:#1F1E1E;
}
.event-card__link:hover .event-card__title {
   color:#bc3324;
   text-decoration-color:#bc3324;
}
.event-card__picture{
   display: block;
   margin: 0 0 25px;
   position: relative;
   width: 100%;
   font-size: 0;
   overflow: hidden;
}
.event-card__picture::after{
   content: '';
   display: block;
   width: 100%;
   padding-top: 107.160%;

}
.event-card__img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.event-card__title{
   margin: 0 0 15px;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.3;
   color:#1F1E1E;
   text-decoration: underline transparent;
   transition: color 0.2s, text-decoration-color 0.2s;
   min-height: 66px;
}
.event-card__description{
   margin: 0 0 auto;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.3;
}
.event-card__time{
   display: block;
   margin-top: 15px;

}
.listing__event-card{
   display: flex;
   width: 405px;
   max-width: 100%;
   min-width: 280px;
   width: calc(100/3%-40px);
}
.reserve{
   display: grid;
   grid-template-columns: 405px 1fr;
   grid-template-areas: 
   "checkbox scheme"
   "order legend";
   gap: 65px 11%;
   width: 100%;
}
.reserve_check_box{
   grid-area: "checkbox";
   background-color: red;
}
.reserve_scheme{
   grid-area: "scheme";
   background-color: blue;
}
.reserve_order{
   grid-area: "order";
   background-color: green;
}
.reserve_legend{
   grid-area: "legend";
   background-color: aqua;
}
.page-footer{
   flex: 0 0 auto;
}